.idea
.vscode
node_modules/
/sampleVideo
recognition/test_files
recognition/__pycache__
recognition/config.py
new-frontend/.idea
new-frontend/node_modules
new-frontend/*npm-debug.log
new-frontend/*.DS_Store
new-frontend/dist/
new-frontend/builds/

